/autom4te.cache/
/autom4te.cache/requests

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~

/platforms/asterfusion-bf/include/version.h

autom4te.cache/requests
autom4te.cache/*
*Makefile.in
*Makefile
platforms/asterfusion-bf/cp2112_util/cp2112_util
platforms/asterfusion-bf/diags/mavericks/targets/tofino/mav_diag.conf
platforms/asterfusion-bf/thrift/bfplatform.ts
platforms/asterfusion-bf/thrift/gen-cpp/
platforms/asterfusion-bf/thrift/gen-py/
platforms/asterfusion-bf/tofino_spi_util/spi_i2c_util
